Source: python3-giturlparse
Maintainer: André Roth <neolynx@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), dh-python, python3-setuptools, python3-all, git-core, tox, python3-pbr, python3-pytest-cov
Standards-Version: 3.9.7
Vcs-Browser: https://github.com/coala/git-url-parse

Package: python3-giturlparse
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: A simple GIT URL parser
